div{
	/**
	* Each box is 100x100 pixels
	*/
	width: 100px;
	height: 100px;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #687291;
	font-style: "Tahoma";
	font-size: 40px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.style1 {
	background-color: #dfe1e7;
}

.style2 {
	background-color: #eeeff2;
}

.style3 {
	background-color: #687291;
	border: solid;
	border-width: 4px;
	border-color: #000000;
	line-height: 100px;
}